/* 
@media screen and (min-width: 640px) {small}
@media screen and (min-width: 960px) {medium}
@media screen and (min-width: 1200px) {large}
@media screen and (min-width: 1600px) {xlarge}
*/

body {
  min-width: 340px;
}
.top-wrap {
  background-image: url(../images/header-bg.jpg);
  background-position: 50% 0;
  height: 100vh;
  min-height: 650px;
  min-width: 340px;
  width: 100%
}
.top-wrap nav a {
  color: #333 !important;
}
.top-wrap > div > div.uk-position-center {
  background-color: rgba(255, 255, 255, 0.5);
  padding: 30px;
}
.top-wrap h1 {
  font-family: 'Alfa Slab One', cursive;
}
.top-wrap h2 {
  font-size: 1.1rem;
}
#offers {
  background-image: url(../images/woodstockpatternnaturebw.jpg);
}
-price {
  background-image: url(../images/sunflower-bg2.jpg);
}

/* small */
@media screen and (min-width: 640px) {
  .top-wrap {
    background-image: url(../images/header-bg-s.jpg);
    background-position: 0 0;
    max-height: 100vw;
  }
  #offers {
    font-size: 1.3rem;
    line-height: 1.4;
  }
}

/* medium */
@media screen and (min-width: 960px) {
  .top-wrap {
    background-image: url(../images/header-bg-m.jpg);
  }
  .top-wrap > div > div.uk-position-center {
    background-color: transparent;
    padding: 0;
  }
  .top-wrap h2 {
    font-size: 1.3rem;
  }
}

/* large */
@media screen and (min-width: 1200px) {
  .top-wrap {
    background-image: url(../images/header-bg-l.jpg);
  }
  .top-wrap nav a {
    font-size: 1.05rem;
  }
  .top-wrap h1 {
    font-size: 3rem;
  }
  .top-wrap h2 {
    font-size: 1.6rem;
  }
  #offers {
    font-size: 1.3rem;
    line-height: 1.4;
  }
}

/* xlarge */
@media screen and (min-width: 1600px) {
  .top-wrap {
    background-image: url(../images/header-bg-xl.jpg);
  }
  .top-wrap nav a {
    font-size: 1.2rem;
  }
  .top-wrap h1 {
    font-size: 4rem;
  }
  #offers {
    font-size: 1.5rem;
    line-height: 1.5;
  }
}
